<section class='form'>
<form class="form" action="/add-author" method="post">
<h3>add author</h3>
        <section class= 'add-form'>

          <label for="first_name"> Author First Name: <br>
        <input type='text' name="first_name"  >
        </label><br>
        <label for="last_name"> Author last Name: <br>
        <input type='text' name="last_name" >
        </label><br>
        <label for="portrait"> Author portrait: <br>
        <input type='text' name="portrait" >
        </label><br>
        <lable for="biography">Author biography: <br>
        <textarea name="biography"></textarea>
        </label><br> <br>
          <button type="submit">add author</button>
          </section>

  </div>

</form>


</section>
