
<section class='form'>
<form class="form" action="/add-book" method="post">
<h3>add book</h3>
        <section class= 'add-form'>

          <label for="Title"> Title
        <input type='text' name="title"  >
        </label><br>
        <label for="genre"> Genre
        <input type='text' name="genre" >
        </label><br>
        <label for="cover">Book cover URL
        <input type='text' name="cover" >
        </label><br>
        <label for="description"> Description :<br>
        <textarea name="description" placeholder="add book description"></textarea>
        </label><br>

          <button type="submit">add book</button>


          </section>

  </div>

</form>


</section>
