
<section class='form'>


<form class="" action="/add" method="post">
  <div class="form-container">
    <section class= 'add-form'>

      <label for="Title"> Title <br>
          <input class= "form-input" type='text' name="title">
      </label>
      <br>
      <label for="genre"> Genre<br>
          <input class= "form-input" type='text' name="genre">
      </label>
      <br>
      <label for="cover">Book cover URL:<br>
          <input class= "form-input" type='text' name="cover">
      </label>
      <br>
      <label for="description"> Book description<br>
          <textarea  class= "add-text-area" name="description" placeholder="add book description"></textarea>
      </label>
        </section>


        <section class= 'add-form'>


      <label for="first_name"> Author First Name:<br>
          <input class= "form-input" type='text' name="first_name">
      </label>
      <br>
      <label for="last_name"> Author last Name:<br>
          <input class= "form-input" type='text' name="last_name">
      </label>
      <br>
      <label for="portrait"> Author portrait:<br>
          <input class= "form-input" type='text' name="portrait" >
      </label>
      <br>
      <lable for="biography">Author biography:<br>
          <textarea  class= "add-text-area" name="biography"></textarea>
          </label>
          <br>
          <button type="submit">Add book</button>
          </section>

  </div>

</form>


</section>
