<button class= "btn btn-primary col-xs-12"type="button">
 <a href='/add-book'>
       Add book
 </a>
 </button>

<div class=" container-fluid author-info">
<div class="row">
  {{#each data}}
    <div class= 'col-md-4 col-xs-12'>
      <div class="info">
      <h4>{{this.title}} </h4>
      <div class="author-img">
            <img class="author-img" src="{{this.cover}}" alt="book img"/>
      </div>
      <div>
      <a href='/{{this.id}}/book-info'>
        <button class="col-xs-12 btn btn-primary"type="button">
          More Info
        </button>
      </a>
      </div>
      </div>
  </div>
  {{/each}}
</div>
</div>
