<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<header class= "flex-container-header">
<img class= "main-logo" src="https://cdn.evbuc.com/eventlogos/65503631/galvanizegalvanizelogotextlogo28129.png" alt="galvanize logo" />
<h1><a href="/"> Galvanize Reads </a></h1>
<h3> <a href="/author">Authors</a></h3>
<h3> <a href="/book">Books </a></h3>
</header>
<body>
    {{{body}}}
</body>

</html>
