.form{
  color: black;
  padding: 2vw;
  margin: 4vw;
  background-color: black;
  height: 65vw;
  overflow: scroll;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.form-input{

  margin: 1vw;
}
textarea{
  height: 30vw;
  width: 60vw;
  overflow: scroll;
}
.add-text-area{
  height:5vw;
  width: 35vw;
}
.add-form{
  background-color: white;
  border-style: solid;
border-color: black;

  height: 30vw;
  width:40vw;
  margin: 1vw;
}

.form-container {
  display: flex;
}
