.book-author-info {
    color: white;
    padding: 2vw;
    margin: 4vw;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 65vw;
    overflow: scroll;
}
.author-img,
.book-img {
    height: 15vw;
    width: auto;
}
